name: Neovim build

on:
  schedule:
    - cron: '0 0 * * 1'
  push:
    paths:
      - '.github/workflows/neovim.yml'
      - 'image/neovim/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./image/neovim
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/compilations-neovim:latest
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
